{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "react-native",
        "jsx-a11y",
        "import"
    ],
    "extends": [
        "airbnb",
        "plugin:react-native/all"
    ],
    "rules": {
        "indent": ["error", 4],
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "global-require": "off",
        "import/no-unresolved": "off",
        "no-console": "off",
        "import/prefer-default-export": "off",
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_"
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    },
    "globals": {
        "__DEV__": true
    }
  }
